:root {
    --primary-color: rgb(180, 221, 237);
    --secondary-color: rgb(241, 139, 139);
    --bg-color: #090f26;
    --title-color: blueviolet;
    --light-color: whitesmoke;
    --font-primary: "Madimi One", sans-serif;
}

.navbar--container{
    color:var(--light-color);
    margin: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    margin: 0px;
    padding: 20px 10px;
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    
}

.navbar--logo {
    width: 60px;
    height: 50px;
}

.navbar--menu, .navbar--search {
    display: flex;
    gap: 20px;
    place-items: center;
}

.navbar--menu a {
    color: var(--light-color);
    text-decoration:none;
    font-family: var(--font-primary);
    font-weight: 400;
    font-style: normal;
}

.navbar--menu a:hover {
    color: var(--primary-color);
    transition: 0.5s;
}

.navbar--container {
    font-family: "Cormorant Upright", serif;
    font-weight: 700;
    font-style: normal;
}

#search--button {
    border: var(--title-color) solid 1px;
    background-color: var(--light-color);
    text-align: center;
    color: darkblue;
    border-radius: 6px;
    cursor:pointer;
    padding: 6px 21px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
}

#search--button:hover {
    background-color: var(--title-color);
    color: var(--light-color);
    transition: 1s;
    border: solid var(--light-color) 1px;
}

#input--search {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: smaller;
    padding: 8px 6px;
    width: 200px;
}

/* Aplicando media query para hacer responsive nuestro display none */
@media (max-width: 720px) {
    .navbar--menu {
        display: none;
    }
}
