body {
    background-color: #0C141E;
    color: aliceblue;
    font-family: "Karla", sans-serif;
}

#button--card {
    background-color: coral;
    border: none;
    color:darkslateblue;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin: 8px 0px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}

#username, #email {
    height: 25px;
    padding: 5px;
}

#button--main {
    padding: 10px 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.profile {
    background-color: blueviolet;
    border-radius: 5px;
    border: solid coral 1px;
    text-align: center;
    padding: 20px;
    width: 250px;
}

#name, #age, #e-mail, #films {
    margin: 0;
}