#root {
  width: 100vw;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}

.button--container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 200px;
  margin: 0px 10px;
  align-items: start;
}