body {
    background-color: cornflowerblue;
}

/* Estilos para cada item */
.item {
    border: solid whitesmoke 1px;
    border-radius: 5px;
    background-color:coral;
    color: cornsilk;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: small;
    padding: 10px;
    text-align: center;
}

/* Estilos para el contenedor */
.d-grid {
    display: grid;
    gap: 20px;
    /* grid-template-columns: auto auto auto auto; */
    grid-template-columns: 50% 30% 20%;
    /* grid-template-rows: 33.3% 50% 39%; */
    grid-template-rows: auto;
}

/* Estilos para un solo ítem */
#item-1 {
    /* grid-column-start: 2;
    grid-column-end: 4; */
    grid-row-start: 1;
    grid-column-start: 1;
}